<!DOCTYPE html>
<html>
<head>
  <title>Tshop</title>
  <%= stylesheet_link_tag    "tshop/application", media: "all" %>
  <%= javascript_include_tag "tshop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
