<div class="cart-actions">
  <div class="addto">
    <button onclick="productAddToCartForm.submit(this);" class="button btn-cart cart first" title="Add to Cart" type="button">Add to Cart</button>
    <a class="link-wishlist wishlist"  >Add to Wishlist</a> </div>
    
  <div style="clear:both"></div>
  
  <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>
  <h3 style="display:none" class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock</h3>
  <h3 class="incaps"> <i class="fa fa-lock"></i> Secure online ordering</h3>
</div>
<!--/.cart-actions-->