<div class="product-tab w100 clearfix">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#properties" data-toggle="tab">Properties</a></li>
    <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="properties">
      <%= render partial: 'properties' -%>
    </div>
    
    <div class="tab-pane" id="shipping">
      <table >
        <colgroup>
        <col style="width:33%">
        <col style="width:33%">
        <col style="width:33%">
        </colgroup>
        <tbody>
          <tr>
            <td>Standard</td>
            <td>1-5 business days</td>
            <td>$7.95</td>
          </tr>
          <tr>
            <td>Two Day</td>
            <td>2 business days</td>
            <td>$15</td>
          </tr>
          <tr>
            <td>Next Day</td>
            <td>1 business day</td>
            <td>$30</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">* Free on orders of $50 or more</td>
          </tr>
        </tfoot>
      </table>
    </div>
    
  </div> <!-- /.tab content -->
  
</div><!--/.product-tab-->