<div class="navbar-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
      
      <div class="pull-left ">
          <ul class="userMenu ">
            <li> <a href="#"> <span class="hidden-xs">HELP</span><i class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a> </li>
            <li class="phone-number"> 
            <a  href="callto:+8801680531352"> 
            <span> <i class="fa fa-phone"></i></span> 
            <span class="hidden-xs" style="margin-left:5px"> 88 01680 53 1352 </span> </a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
        <div class="pull-right">
          <ul class="userMenu">
            <% if spree_user_signed_in? -%>
              <li> 
                <a href="account-1.html">
                  <span class="hidden-xs">My Account</span><i class="fa fa-user hide visible-xs "></i>
                </a> 
              </li>
              <li> 
                <%= link_to spree.logout_path do %>
                  <span class="hidden-xs">Log out</span>
                <% end %>
                <i class="fa fa-sign-out hide visible-xs"></i>
                </a> 
              </li>
            <% else %>
              <li> 
                <a href="#"  data-toggle="modal" data-target="#ModalLogin"> 
                  <span class="hidden-xs">Log In</span><i class="fa fa-sign-in hide visible-xs"></i>
                </a> 
              </li>
              <li class="hidden-xs"> 
                <a href="#"  data-toggle="modal" data-target="#ModalSignup"> Create Account </a>
              </li>
            <% end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.navbar-top-->